<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cartão de Identificação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <img src="assets/vilmar01.jpg" alt="Foto de perfil" width="200px" height="250px" border-radius="50%">
  <ion-card-header>
    <ion-card-title>Vilmar dos S L Júnior</ion-card-title>
    <ion-card-subtitle>Matrícula: 24105457</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
      <ion-button expand="block" class="ion-padding" size="small" shape="round" [routerLink]="['/sobre']">
    Sobre Mim
      </ion-button>
  </ion-card-content>
</ion-card>