ion-toolbar{
    background-color: rgb(59, 114, 124);
}
ion-title{
    font-family: antique;
    font-size: 32px;
}
ion-card{
    img{
        margin-left: 75px;
        margin-top: 15px;
        
    }
    background-color: rgb(209, 190, 157);
    color: rgb(41, 29, 14);
    border-radius: 10px;
    align-items: center;
    margin-top: 25px;
}
ion-card-title{
    color: rgb(41, 29, 14);
    font-size: 25px;
    text-align: center;
}
ion-card-subtitle{
    color: rgb(41, 29, 14);
    font-size: 20px;
    text-align: center;
}
p{
    color: rgb(41, 29, 14);
    font-size: 20px;
    text-align: center;
}