<ion-header>
  <ion-toolbar color="aqua">
    <ion-title><strong>Atlasify</strong><ion-icon name="map-sharp"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="red">
  <ion-card>
  <img src="assets/vilmar01.jpg" alt="Foto de perfil" width="200px" height="250px" border-radius="50%">
  <ion-card-header>
    <ion-card-title>Vilmar Longo</ion-card-title>
    <p>Matrícula: 24105457 <br>
    Campo Grande - Manhã</p>
  </ion-card-header>
  </ion-card>
</ion-content>