.btn-voltar{
    width: 200px;
    margin-left: 23%;
    color: aliceblue;
    margin-bottom: 10px;
}
ion-card{
    border-radius: 10px;
    color: aliceblue;
    font-size: 16px;
    background-color: rgba(4, 23, 51, 0.521);
}
ion-card-subtitle{
    font-size: 18px;
    line-height: 16px;
    color: antiquewhite;
}