ion-toolbar{
    background-color: rgb(59, 114, 124);
}
ion-title{
    font-family: antique;
    font-size: 32px;
}

ion-card{
    background-color: rgb(209, 190, 157);
    color: rgb(41, 29, 14);
    border-radius: 10px;
    align-items: center;
    margin-top: 25px;
}
p{
    font-size: 20px;
}
ion-card-title{
    color: black;
    font-size: 22px;
    text-align: center;
}
