<ion-header color="white">
  <ion-toolbar color="aqua">
    <ion-title><strong>Atlasify</strong><ion-icon name="map-sharp"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="aqua">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo ao Atlasify!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Este é um aplicativo gerado a partir do Ionic com Angular, visando aumentar o conhecimento e matar a curiosidade, sobre outros países, suas bandeiras e capitais.</p>
      <p>Use a aba <strong>"Países"</strong> para pesquisar informações sobre um país.</p>
    </ion-card-content>
  </ion-card>
</ion-content>